@import '../normalize.css';

.header {
  display: flex;
  justify-content: space-between;
  background-color: #373b69;
  padding: 20px;
  &__search {
    padding: 10px;
    display: block;
  }
  &__wishlist-button {
    background-color: white;
    &_active {
      background-color: blue;
    }
  }
  &__main-button {
    background-color: white;
    &_active {
      background-color: blue;
    }
  }
}

button {
  padding: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  background-color: #22254b;
}

.footer-container {
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

main {
  padding: 20px 0 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  position: relative;
  overflow: hidden;
  background-color: #373b69;
  max-width: 550px;
  width: 100%;
  &__description {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
    justify-content: space-between;
  }
  &__rating {
    color: gold;
    background-color: green;
    padding: 10px;
  }
  &__buttons-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    transition: transform 0.3s ease-in;
    transform: translateY(100%);
  }
  &__wishlist-button {
    display: block;
    padding: 10px;
    background-color: burlywood;
    margin: 0 auto;
  }
  &:hover {
    .card__buttons-container {
      transform: translateY(0%);
    }
  }
}

.card img {
  max-width: 100%;
  height: auto;
}


.footer__logo {
  width: 300px;
  height: 111px;
  background: url(../assets/svg/logo.svg) no-repeat;
}