@import '../normalize.css';

.header {
  display: flex;
  background-color: #373b69;
  padding: 20px;
  &__search {
    padding: 10px;
    display: block;
    margin-left: auto;
  }
  &__title {
    margin-left: auto;
  }
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  background-color: #22254b;
}

.footer-container {
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 40px;
  align-items: center;
}


main {
  padding: 20px 0 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #373b69;
  max-width: 550px;
  width: 100%;
  &__description {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
    justify-content: space-between;
  }
}

.card img {
  max-width: 100%;
  height: auto;
}


.footer__logo {
  width: 300px;
  height: 111px;
  background: url(../assets/svg/logo.svg) no-repeat;
}